body {
    font-family: 'arial, georgia, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    width: 700px;
    margin: auto;
    padding: 20px;
    
}

h1 {
    color: #cc2222;
    font-size: 2em;
    text-align: center;
    margin: auto;
    padding: 20px;
}

h2 {
    color: #1b0c0c;
    font-size: 1.5em;
    background-color: aqua;
    text-align: center;
    margin: auto;
    padding: 20px;
}

p {
    color: #0e0000;
    font-size: 1em;
    text-align: center;
    margin: auto;
    padding: 20px;
}

img{
    border-radius: 50%;
    height:200px;
    width:200px;
}   
